.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.subtitulo {
  color: #81FE88;
  font-weight: 500;
  font-size: 37px;
}

.descricao{
  font-weight: 400;
  font-size: 26px;
  color: #BCBCBC;
}

.botaoVoltar{
  color: #BFFFC3;
  text-decoration: underline;
  font-size: 18px;
}