.container {
  background-color: #171D1F;
  border-radius: 8px;
  padding: 40px 16px;
}

.logo {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .container{
    display: none;
  }
}