.container {
  width: 486px;
  height: 431px;
}

.headerCard {
  width: 100%;
  background-color: #888888;
  border-radius: 8px 8px 0 0;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImgCover{
  position: relative;
  width: 438px;
  height: 133px;
  border-radius: 8px;
}

.containerInfos{
  padding: 16px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #171D1F;
  border-radius: 0 0 8px 8px;
}

.containerInfos__titulo{
  color: #BCBCBC;
  font-weight: 600;
  font-size: 18px;
}

.containerInfos__descricao{
  color: #BCBCBC;
  font-weight: 400;
  font-size: 15px;
}

.containerInfos__detalhes{
  color: #81FE88;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.containerAvatar{
  
}