.container{
  border-radius: 32px;
  background: #3E3E3F;
  padding: 24px;
  width: 961px;
  max-width: 80%;
  height: 370px;
  border: none;
}

.containerHeader{
  text-align: right;
}

.botaoFechar{
  font-size: 18px;
  color: #E1E1E1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subtitulo{
  font-size: 31px;
  color: #81FE88;
}