.container {
  width: 996px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.containerCards{
  display: grid;
  width: 100%;
  grid-template-areas:
  "article article";
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  /* display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px; */
}

.linkPagina{
  color: #BFFFC3;
  font-size: 18px;
  text-align: center;
  display: block;
}

.containerLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}